@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Dal.Models.Garage
@{
    Layout = null;
}

<p>Service Charges = @Model.ServiceCharge</p>
<p>Key Registration Charges = @Model.KeyRegistration</p>
<p>Vehicle Wash and Clean = @Model.WashAndClean</p>
<p>Wheel Alignment = @Model.WheelAlignment</p>
<p>One Wheel Balancing = @Model.WheelBalancing</p>
<p>Pickup and Drop = @Model.PickupAndDrop</p>
<p>Pickup/Drop = @Model.PickupOrDrop</p>
<p>One side Pickup Drop = @Model.OneSidePickOrDrop</p>
<p>Throttle Body Clean = @Model.BodyClean</p>

<button type="submit" id="s1" class="btn btn-primary okaybtn w-100" data-bs-dismiss="modal">Ok</button>

